.custom-button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #a4a5a9;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #22262f;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
}

.color-button {
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #22262f;
    -fx-min-width: 65px;
    -fx-min-height: 25px;
}

.color-button:selected {
    -fx-border-color: #f7dd72;
}

.color1 {
    -fx-background-color: #80A4ED;
}

.color2 {
    -fx-background-color: #395C6B;
}

.color3 {
    -fx-background-color: #E01A4F;
}

.custom-button:selected {
    -fx-background-color: #686868;
    -fx-border-color: #f7dd72;
}

.settings-heading {
    -fx-min-width: 512px;
    -fx-min-height: 123px;
	-fx-background-image: url(../../images/settings.png);
}

.settings-label {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}


.scoreboard-label {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 13pt;
}

.back-button {
    -fx-padding: 5 22 5 22;   
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #22262f;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 20pt;
    -fx-text-fill: #ffffff;
}

.settings-box {
    -fx-min-height: 60px;
}

.image-button {
    -fx-background-size: 48px, 48px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #22262f;
    -fx-border-radius: 30px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-border-width: 2;
    -fx-border-color: #ffffff;
}

.image-button:selected {
    -fx-border-color: #f7dd72;
}

.mainmenu-button {
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100px 100px;
}

.logo {
    -fx-padding: 40; 
    -fx-min-width: 376px;
    -fx-min-height: 170px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 376px 170px;
	-fx-background-image: url(../../images/Logo2.png);
}

.play-button {
	-fx-background-image: url(../../images/playbutton.png);
}

.scoreboard-button {
	-fx-background-image: url(../../images/scoreboardbutton.png);
}

.settings-button {
	-fx-background-image: url(../../images/settingsbutton.png);
}

.tutorial-button {
	-fx-background-image: url(../../images/playbutton.png);
}

.falessi {
	-fx-background-image: url(../../images/falessihead.png);
}

.mammen {
	-fx-background-image: url(../../images/mammenhead.png);	
}

.gharibyan {
	-fx-background-image: url(../../images/gharibyanhead.png);	
}

.lupo {
	-fx-background-image: url(../../images/lupohead.png);	
}

.staley {
	-fx-background-image: url(../../images/staleyhead.png);	
}

.clements {
	-fx-background-image: url(../../images/clementshead.png);	
}

.eckhardt {
	-fx-background-image: url(../../images/eckhardthead.png);	
}

.mixed {
	-fx-background-image: url(../../images/mixed.png);
}