.custom-button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #a4a5a9;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #22262f;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
}

.color-button {
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #22262f;
    -fx-padding: 5 22 5 22; 
}
.color-button:selected {
    -fx-border-color: #f7dd72;
}

.color1 {
    -fx-background-color: #80A4ED;
}

.color2 {
    -fx-background-color: #395C6B;
}

.color3 {
    -fx-background-color: #E01A4F;
}

.custom-button:selected {
    -fx-background-color: #686868;
}

.settings-label {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}

.scoreboard-label {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 13pt;
}

.back-button {
    -fx-padding: 5 22 5 22;   
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #22262f;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 20pt;
    -fx-text-fill: #ffffff;
}

.settings-box {
    -fx-min-height: 60px;
}

.image-button {
    -fx-background-size: 25px, 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #22262f;
    -fx-border-radius: 20px;
    -fx-min-width: 25px;
    -fx-border-width: 1;
    -fx-border-color: #ffffff;
}

.image-button:selected {
    -fx-border-color: #f7dd72;
}

.falessi {
	-fx-background-image: url(../../images/falessihead.png);
}

.mammen {
	-fx-background-image: url(../../images/mammenhead.png);	
}

.gharibyan {
	-fx-background-image: url(../../images/gharibyanhead.png);	
}

.lupo {
	-fx-background-image: url(../../images/lupohead.png);	
}

.staley {
	-fx-background-image: url(../../images/staleyhead.png);	
}

.clements {
	-fx-background-image: url(../../images/clementshead.png);	
}

.eckhardt {
	-fx-background-image: url(../../images/eckhardthead.png);	
}
