.custom-button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #a4a5a9;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #22262f;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
}

.custom-button:hover {
    -fx-background-color: #686868;
}

.settings-label {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}

.scoreboard-label {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 13pt;
}

.back-button {
    -fx-padding: 5 22 5 22;   
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #22262f;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 20pt;
    -fx-text-fill: #ffffff;
}

.settings-box {
    -fx-min-height: 60px;
}

.falessi-button {
	-fx-background-image: url(../../images/falessihead.png);
    -fx-background-size: 25px, 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #22262f;
    -fx-border-radius: 20px;
    -fx-min-width: 25px;
}

.mammen-button {
	-fx-background-image: url(../../images/mammenhead.png);
	-fx-background-size: 25px, 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #22262f;
    -fx-border-radius: 25px;
    -fx-min-width: 25px;
}